.DS_Store

# Dependency directories
node_modules/

# Rollup typescript plugin cache
.rpt2_cache

# IDE project-specific settings files
.idea
.vscode

# Output of 'npm pack'
*.tgz

# Generated output
dist